.mainSidebar{
    display:flex;
}

.sidebar_content{
    width:100%;
    border:1px solid black;
    height:100%;
    background-color: rgb(7, 7, 70);
}

.content{
    /* border:1px solid black; */
    padding:10px;
}